<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="softwaredesign.adnursing">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".HttpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".CommunicateActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".MyActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ForumActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PostActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".TTTestActivity" />
        <activity android:name=".PostSetActivity" />
        <activity
            android:name=".ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".SettingActivity" />
        <activity
            android:name=".TestActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".TestResultActivity" />

        <activity android:name=".NewTestActivity"/>

    </application>

</manifest>